:host {
    position: relative;
    display: flex; align-items: stretch;
}

    :host ::content > [role="tab"] {
        position: static; display: flex; align-items: stretch;
    }
    :host[list-position="top"] ::content > [role="tab"],
    :host[list-position="bottom"] ::content > [role="tab"] {
        flex: 1 1 0%;
    }

        :host ::content > [role="tab"] > [role="tabpanel"] {
            position: absolute; visibility: hidden; overflow: auto;
        }

        :host ::content > [role="tab"][aria-selected="true"] > [role="tabpanel"] {
            visibility: visible;
        }

:host[list-position="top"],
:host[list-position="bottom"] {
    flex-flow: row nowrap;
}

        :host[list-position="top"] ::content > [role="tab"] {
            flex-flow: column nowrap;
        }
        :host[list-position="bottom"] ::content > [role="tab"] {
            flex-flow: column-reverse nowrap;
        }

:host[list-position="left"],
:host[list-position="right"] {
    flex-flow: column nowrap;
}

        :host[list-position="left"] ::content > [role="tab"] {
            flex-flow: row nowrap;
        }
        :host[list-position="right"] ::content > [role="tab"] {
            flex-flow: row-reverse nowrap;
        }

            :host[list-position="top"] ::content > [role="tab"] > [role="tabpanel"] {
                right: 0; bottom: 0; left: 0;
            }
            :host[list-position="bottom"] ::content [role="tab"] > [role="tabpanel"] {
                top: 0; right: 0; left: 0;
            }
            :host[list-position="left"] ::content > [role="tab"] > [role="tabpanel"] {
                top: 0; right: 0; bottom: 0;
            }
            :host[list-position="right"] ::content > [role="tab"] > [role="tabpanel"] {
                top: 0; bottom: 0; left: 0;
            }
