:host {
	display: block;
	color: inherit;
	background-color: inherit;
}
:host:hover {
	background-color: #777;
}

	:host > details > summary {

	}
	:host > details > summary::-webkit-details-marker {
		display: none;
	}
